#new-game {
    --player-font-size: 26px;

    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.players-from-memory mat-card {
    max-height: 40vh;
    overflow-x: hidden;
}

.players-from-memory button {
    display: block;
    margin: 0 auto 15px;
    width: 75%;
    height: 60px;
    font-size: var(--player-font-size);
}

.new-game_add-player {
    --size: 25vw;
    --margin: 6vw;

    position: absolute;
    width: var(--size);
    height: var(--size);

    right: var(--margin);
    bottom: var(--margin);

    font-size: var(--size);
}

.new-game_start {
    --size: 25vw;
    --margin: 6vw;

    position: absolute;
    width: var(--size);
    height: var(--size);

    left: var(--margin);
    bottom: var(--margin);

    font-size: var(--size);
}
