<div class="new">
    <div class="player"
         ng-style="{background: background($index)}"
         ng-repeat="player in players">
        <img ng-click="removePlayer($index)" src="img/trash.svg" alt="trash-icon">
        <p ng-hide="player.name === ''">{{player.name}}</p>
        <input ng-style="{background: background($index)}"
               type="text"
               placeholder="Enter player name here..."
               ng-model="player.new"
               ng-hide="player.name !== ''">
    </div>
</div>