/* You can add global styles to this file, and also import other style files */
:root {
    --main-background: #545EA5;
    --main-color: #DFFDFF;
}

html {
    background-color: var(--main-background);
    color: var(--main-color);
}
