<div class="new">
    <img class="icon add-player"
         ng-click="addPlayer()"
         src="img/plus-button.svg"
         alt="plus-icon">
    <img class="icon start-new-game"
         ng-click="startNewGame()"
         src="img/play-round-button.svg"
         alt="new-game-icon">

    <p class="title">Add Players:</p>
    <div class="player"
         ng-style="{background: background($index)}"
         ng-repeat="player in players">
        <img ng-click="removePlayer($index)" src="img/trash.svg" alt="trash-icon">
        <p ng-hide="player.name === ''">{{player.name}}</p>
        <input id="new-player-{{$index}}"
               ng-style="{background: background($index)}"
               type="text"
               placeholder="Enter player name here..."
               ng-model="player.new"
               ng-hide="player.name !== ''">
    </div>

    <p class="title" ng-show="previousPlayers.length">Previous players:</p>
    <div class="player"
         ng-click="addPlayer($index)"
         ng-style="{background: background($index)}"
         ng-repeat="player in previousPlayers">
        <p>{{player.name}}</p>
    </div>
</div>
